<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <img src="/public/img/hackerman.jpg" alt="" class="sidebar-img" />
            <h1>
                <a href="/{{ page.lang }}">
                    {{ site.title }}
                </a>
            </h1>
            <p class="lead">
                {{ site.data.translations['tagline'][page.lang] }}
            </p>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/{{ page.lang }}">
                {{ site.data.translations['allPosts'][page.lang] }}
            </a>

            {% assign pages_list = site.pages | where:"lang", page.lang %}
            {% for node in pages_list %}
            {% if node.title != null %}
            {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}
        </nav>

        {% include language-switcher.html %}

        <ul class="about-links">
            <li><a href="https://www.youtube.com/channel/UCJsy2UMYdbwEnYSnWFpsLsA" title="YouTube"><i class='fa fa-youtube'></i></a></li>
            <li><a href="https://github.com/ExiledNarwal28" title="GitHub"><i class='fa fa-github'></i></a></li>
            <li><a href="https://www.linkedin.com/in/fabienroy/" title="LinkedIn"><i class='fa fa-linkedin'></i></a></li>
        </ul>

        <p>&copy; {{ site.time | date: '%Y' }}. {{ site.data.translations['allRightsReserved'][page.lang] }}</p>
    </div>
</div>
